html{
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family:OCR A Std, monospace;
    background-image: linear-gradient(to bottom, #02172d, #071b33, #0d1f38, #14233e, #1a2744, #192642, #192641, #18253f, #121f35, #0d1a2b, #081422, #000c19);    
    background-size: cover;
    background-position: center;
    animation: colors 15s ease infinite;
}

/* MENU */

#nav-checkbox, 
.nav-toggle {
    display: none;
}

header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5px 0;
    margin:auto;
    transition: background-color 0.5s ease;
    z-index: 22;
}

.logo{
    font-size: 9px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    
}
.nav-menu{
    border-top: -3rem;

}

.logo h2{
    color: #fff;
    
}

.nav-menu li {
    display: inline-block;
    
}

.nav-menu li a{
    font-family: Rockwell Extra Bold;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 15px;
}

.nav-menu li a:hover{
    color: #495360;
}

.active{
    background: #071b33;
}

.active a:hover{
    color: #fff !important;
}

.container1 img {
    max-width: 350px;
    width: auto;
    height: auto;
    color: white; 

}

h1 {
    font-size: 60px;
    text-transform: 4px;
    letter-spacing: 2px;
    margin-top: -1rem;
    color: white;
    margin-bottom: 0%;
}

h9 {
    font-size: 20px;
    font-style: italic;
    text-transform: 4px;
    margin-top: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 2rem;
}

.header a {
    position: fixed;
    margin: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

.header-container {
    width: 100%;
    margin-top: 7rem;
    margin-bottom: 30rem;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    box-sizing: border-box;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* SOCIAL MEDIA */

.social-media {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.social-media a {
    text-decoration: none;
    padding: 2rem;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    background-color: none;
}

a:hover {
    background-color: none;
}

svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* HEY */

.MuiContainer {
    margin: 3rem 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:left;
    font-size: 2rem;
    background-color: white;
    color: black;
    margin-top: 13rem;
    
}

/* PORTIFOLIO */

.portifolio {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-size: 30px;
    color: white;
    width: 100%;
}

/* PROJECTS */
 h6{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-size: 25px;
    width: 100%;
}

.container {
    font-size: 10px;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-content: flex-start;
    flex-wrap: wrap;
}

.card-container {
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 1.5px solid #aeaee3;
    margin: 4rem;
    margin-left: 36%;
    margin-bottom: 3rem;
    background-color: rgb(204, 193, 37);

}

.card-container a {
    text-decoration: none;
    background: none;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 3px;
    margin: 2rem 0 2rem 0;
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: none;
    background-image: url("./img/1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color:#363434;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    border-top: 3rem;
    box-shadow: 1px 2px 12px rgba(255, 255, 255, 0.284);
}

.card-text {
    width: 90%;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #bee8af;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
    color:#ffffff;
}

.card-wrapper p {
    font-size: 0;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 130px;
    width: 130px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 10px;
}

h5{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    font-size: 25px;
    width: 100%;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cdb4b4;
    }

/* TIMELINE */

.timeline{
    position: relative;
    min-height: 150px;
    margin-bottom: 10rem;
    margin-top: 7rem;
    padding: 6rem;
}
    
.line{
    position: absolute;
    z-index: 2;
    left: calc(49.9% - 1px);
    width: 5px;
    top: -50px;
    bottom: -50px;
    background-color: rgb(49, 28, 141);
    display: none;  
}
    
.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    border-radius: 50%;
    background-color: rgb(27, 195, 49);
    left: 50%;
    transform: translateX(-50%);
}
    
.line:after{
    bottom: 0;
}
    
.section{
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    margin-bottom: -5rem;
}


    
.section:nth-child(odd){
    flex-direction: row-reverse;
}
    
.bead{
    position: absolute;
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(74, 253, 142, 0.403);
    left: 50%;
    top: 6%;
    transform: translateX(-50%);
}
.bead::after{
    content: ' ';
    width: 2rem;
    height: 2rem;
    background-color: rgb(49, 28, 141);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
    
    
.content{
    background-color: rgb(255, 255, 255);
    height: 26rem;
    width: 62rem;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
    font-size: 17px;
    border-radius: 2%;  
}
    
h2,
p {
    margin: 1.2rem;
    color: #000;
}
h2{
    font-size: 25px;
}
    
    
.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
    
h1{
    font-weight: 400;
    letter-spacing: 1px;
}

@media (max-width: 1025px){

    .card-container{
        width: 55%;
        height: 400px;
        margin-left: 22%
    }

    .timeline{
        margin-top: 7rem;
        padding: 3rem;
    }
        
    .line{
        position: absolute;
        z-index: 2;
        left: calc(50% - 1px);
        width: 5px;
        top: -50px;
        bottom: -50px;
        background-color: rgb(49, 28, 141);
        display: none;  
    }
        
    .line:before,
    .line:after{
        position: absolute;
        display: block;
        content: '';
        border-radius: 50%;
        background-color: rgb(27, 195, 49);
        left: 50%;
        transform: translateX(-50%);
    }
        
    .line:after{
        bottom: 0;
    }
        
    .section{
        margin-bottom: -5%;
    }


        
    .section:nth-child(odd){
        flex-direction: row-reverse;
    }
        
    .bead{
        left: 51.2%;
        top: 2%;
    }
   
    .content{
        height: 26rem;
        width: 45%;
        font-size: 17px;
    }
        
    h2,
    p {
        margin: 1.2rem;
        color: #000;
    }
        
        
    .show-me:nth-child(n){
        transform: none;
        opacity: 1;
    }
        
    h1{
        font-weight: 400;
        letter-spacing: 1px;
    }

}

@media (max-width: 869px){



    .timeline{
        position: relative;
        min-height: 150px;
        margin-top: 7rem;
        padding: 1rem;
        left:-75%;
        width: 165%

    }
        
    .line{
        position: absolute;
        z-index: 2;
        left: calc(49.9% - 1px);
        width: 5px;
    }
        
    .line:before,
    .line:after{
        position: absolute;
        display: block;
        content: '';
        border-radius: 50%;
        background-color: rgb(27, 195, 49);
        left: 50%;
        transform: translateX(-50%);
    }
        
    .line:after{
        bottom: 0;
    }
        
    .section{
        display: flex;
        justify-content: flex-end;
        opacity: 0;
        transform: translateX(-100%);
        transition: 600ms ease;
        position: relative;
        z-index: 1;
        margin: 50px 0;
        border-radius: 1rem;
        min-height: 300px;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-bottom: -2%;
    }


        
    .section:nth-child(odd){
        flex-direction: row-reverse;
    }
        
    .bead{
        left: 50%;
        top: 6%;
    }
        
    .content{
        height: 30rem;
        width: 45%;
        font-size: 20px;
        border-radius: 2%;  
    }
}
    
@media (max-width: 781px) {

    /* MENU */
    
    h1 {
        font-size: 50px;
    }

    h9 {
        font-size: 24px;

    }

    .social-media {
        margin-top: 1rem;
    }

    /* PROJECTS */

    .topprojects {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        font-size: 27px;
        margin-left: 10%;
        color: black;
    }

    .container {
        font-size: 10px;
        height:auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    
    .card-container {
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 450px;
        width: 70%;
        border: 1.5px solid #aeaee3;
        margin: 4rem;
        margin-left: 15%;
        margin-bottom: 3rem;
        background-color: rgb(204, 193, 37);
    
    }
    
    .card {
        width: 160px;
        height: 160px;
    }

    .card:hover > .card-wrapper p {
        font-size: 7px;
    }

    .card-wrapper h2 {
        font-size: 20px;
    }

    .card:hover > .card-wrapper::before {
        height: 110px;
        width: 110px;
        opacity: 1;
    } 
    
}


@media only screen and (max-width: 600px){


    .bead{
        left: 50.02%;
    }

    header {
        display: block;
    }

    .logo h2{
        font-size: 15px;
        margin-left: 10px;
    }

    .nav-menu li a{
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .nav-menu li a:hover{
        color: #ffffff;
    }
    
    .active{
        background: #02172d;
    }

    .nav-toggle{
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1.5rem;
        top: 10px;
        right: 0;
    }

    .nav-toggle img{
        width: 30px;
    }

    .close,
    input[type='checkbox']{
        display: none;
    }

    #nav-checkbox:checked ~ .nav-menu{
        background: #02172d;
        margin-top: 10px;
        padding: 20px 0;
        border-top: 1px solid rgb(157, 122, 122);
    }

    .nav-menu li{
        display: none;
        margin: 10px 0;
    }

    #nav-checkbox:checked ~ ul.nav-menu li {
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open{
        display: none;
    }

    #nav-checkbox:checked ~ label.nav-toggle .close{
        display: block;
    }

}


@media(max-width: 432px){

    /* MENU */
    .timeline{
        margin-bottom: 15rem;
    }

    .MuiBox{
        padding-top: 3.5rem;
    }

    header{
        padding: 6px 0;
    }

    .logo h2 {
        margin-top: 9px;
        margin-bottom: 2rem;
    }

    .container1 img {
        max-width: 280px;
    }

    h1 {
        font-size: 24px;
        margin-left: 0;
        margin-bottom: -0.5rem;
    }

    h9 {
        font-size: 17px;
        margin-left: 0;
    }

    .social-media {
        margin-left: 0;
        font-size: 12px;
    }

    .social-media a {
        min-width: 2.5rem;
        margin-top: 1rem;
    }
    .menu {
        padding: 0 2.4ex;
        margin-top: -1rem;
    }

    .menu-items ul li a {
        font-size: 11px;
        padding: 0 1.4ex;
    }

    .logo{
        margin-bottom: -.8rem;
    }

    main {
        width: 100%;
        height: 60px;
    }

    /* PROJECTS */
     
    .card {
        width: 120px;
        height: 120px;
        box-shadow: 1px 2px 12px rgba(255, 255, 255, 0.284);
    }

    .card-text{
        font-size: 15px;
    }

    .card:hover > .card-wrapper p {
        font-size: 3.5px;
    }
    
    .card-wrapper h2 {
        font-size: 10px;
    }

    .card:hover > .card-wrapper::before {
        height: 60px;
        width: 60px;
        opacity: 1;
    }

    .header-container {
        width: 100vw;
        background-size: contain;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding: 40px;
        position: relative;
        font-size: 1rem;
        flex-wrap: nowrap;
        align-content: flex-start;
        flex-direction: column;
        margin-top: 5rem;
        margin-bottom: 20rem;
    }

    .footer {
        width: 100%;
        height: 50px;
    }

    .MuiContainer{
        margin: 3rem 0;
        width: 100%;
        height: 400px;
        font-size: 25px;
    }

    .MuiContainer p {
        margin-left: 2rem;
    }

    .portifolio {
        font-size: 30px;
    }

    .topprojects{
        font-size: 22px;
        margin-right: 2rem;
    } 
}
